<div class="item">
  <img [src]="imgUrl"
       class="item_img"
       alt="Изображение устройства"/>
  <p style="line-height: 13px; font-weight: 700; color: #434854;">{{deviceName}}</p>
  <p style="line-height: 13px; color: #434854;">OS: {{os}}</p>
  <p style="line-height: 13px; color: #434854;">Диагональ: {{diagonal}}</p>
  <p style="line-height: 13px; color: #434854;">Отдел: {{department}}</p>
  <button
    tuiButton
    type="button"
    class="button"
    style="height: 32px; font-size: 10px; width: 80%;"
    (click)="openCardDialog()"
  >
    <tui-svg
      src="tuiIconCheckCircle"
      class="icon"
    ></tui-svg>
    Забронировать
  </button>
</div>

<app-modal-success-booking *ngIf="modalSuccessBookingService.isVisible$ | async"></app-modal-success-booking>
