<div class="container">
  <p style="color: #2E62D9; font-size: 15px; text-align: center; margin-top: 0;">Вы хотите отменить бронь?</p>
  <div class="buttons">
    <button
      tuiButton
      type="button"
      class="button"
      appearance="green_outline"
      size="m"
      style="font-size: 15px; width: 125px; margin-right: 15px;"
      (click)="openCancelReserveDialog(); cancelBookedDevice()"
    >
      Да
    </button>
    <button
      tuiButton
      type="button"
      class="button"
      appearance="red_outline"
      size="m"
      style="font-size: 15px; width: 125px;"
      (click)="closeConfirmCancelReserveDialog()"
    >
      Нет
    </button>
  </div>
</div>
