.filter{
  width: 100%;
  background-color: #fff;
  //transform: translateY(-375px);
  //position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  //align-items: center;
}

.island{
  margin-bottom: 15px;
  width: 100%;
}
