<div class="wrapper">
  <form style="width: 80%; margin: 0 auto; margin-top: 15px;">
    <tui-input style=""
               [tuiTextfieldLabelOutside]="true"
               tuiTextfieldSize="s">
      Начните поиск здесь...
      <input
        tuiTextfield
        type="text"
        [(ngModel)]="searchTerm"
        (keyup)="search($event)"
      />
    </tui-input>
  </form>
  <button
    tuiButton
    size="s"
    style="width: 100%; margin: 4px 0;"
    appearance="white"
    (click)="onClick(content, 'm')"
  >
    открыть
  </button>
</div>

<ng-template
  #content
  let-observer
>
  <div class="filter tui-container tui-container_adaptive">
    <div class="tui-row tui-row_adaptive">
      <tui-island class="island">
        <p style="margin-top: 0; margin-bottom: 11px;">Размер экрана, дюймов</p>
        <tui-range
          size="m"
          [min]="minRange"
          [max]="maxRange"
          [step]="stepRange"
          [(ngModel)]="rangeValue"
        ></tui-range>
        <p style="margin-bottom: 0; margin-top: 11px;">
          <output for="m-size-range">
            <code>{{ rangeValue | json }}</code>
          </output>
          дюймов
        </p>
      </tui-island>
    </div>

    <div class="tui-row tui-row_adaptive" style="margin-bottom: 15px; justify-items: center; justify-content: center">
      <div class="tui-col" style="margin-right: 10px; width: 46%">
        <app-dropdown-system></app-dropdown-system>
      </div>
      <div class="tui-col" style="width: 46%">
        <app-dropdown-type></app-dropdown-type>
      </div>
    </div>

    <div style="width: 100%; display: flex; flex-direction: column;">
      <app-dropdown-department></app-dropdown-department>
      <app-dropdown-tag></app-dropdown-tag>
    </div>

    <app-calendar></app-calendar>

    <div class="" style="width: 100%;">
      <app-dropdown-sort></app-dropdown-sort>
    </div>
    <div>
      <button
        tuiButton
        size="m"
        appearance="green_outline"
        style="width: 100%"
        (click)="observer.complete()"
      >
        Поиск
      </button>
    </div>
  </div>

</ng-template>
