<form style="margin-bottom: 15px;">
  <tui-select
    class="b-form"
    [tuiTextfieldLabelOutside]="true"
    [valueContent]="depts ? stringify(depts) : loading"
    [(ngModel)]="value"
    tuiTextfieldSize="s"
  >
    Отдел
    <input
      tuiTextfield
      placeholder="Выберите отдел"
    />
    <ng-template tuiDataList>
      <tui-data-list *ngIf="depts; else loading">
        <button
          *ngFor="let dept of depts"
          tuiOption
          [value]="dept.id"
          (click)="onClick.emit(dept.id)"
        >
          {{ dept.name }}
        </button>
      </tui-data-list>
    </ng-template>
    <ng-template #loading>
      <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
    </ng-template>
  </tui-select>
</form>
