<div class="wrapper">
  <div
    style="display: grid; grid-template-columns: 2fr 3fr; column-gap: 15px; justify-items: center; margin-bottom: 15px;"
    *ngIf="device$ | async as device">
    <div class="container">
      <img class="container_img"
           [src]="API_URL + device.image">
    </div>
    <div class="container_spec">
      <p style="text-align: center; font-size: 15px; margin: 0; line-height: 20px;">{{device.name}}</p>
      <p style="text-align: center; font-size: 10px; line-height: 13px;">OS: {{device.os}}</p>
      <p style="text-align: center; font-size: 10px; line-height: 13px;">Диагональ: {{device.diagonal}}</p>
      <p style="text-align: center; font-size: 10px; line-height: 13px;">Отдел: {{device.department.name}}</p>
    </div>
  </div>

  <div style="width: 100%;">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="calendarValue">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="time_wrapper">
    <p style="text-align: center; font-weight: 600; margin-bottom: 10px;">Время</p>
    <div class="time">
      <p>C</p>
      <form
        class="b-form"
        style="width: 90px;"
        [formGroup]="timeStartForm"
      >
        <mat-form-field appearance="legacy" style="width: 80px">
          <mat-label>Время</mat-label>
          <mat-select formControlName="timeStart">
            <mat-option *ngFor="let time of times" [value]="time">
              {{time}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <p>до</p>
      <form
        class="b-form"
        style="width: 90px;"
        [formGroup]="timeFinishForm"
      >
        <mat-form-field appearance="legacy" style="width: 80px">
          <mat-label>Время</mat-label>
          <mat-select formControlName="timeFinish">
            <mat-option *ngFor="let time of times" [value]="time">
              {{time}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>

  <button
    tuiButton
    type="button"
    class="button"
    size="m"
    style="font-size: 15px; width: 270px;"
    appearance="green"
    (click)="openSuccessBookingDialog(); recordDevice()"
  >
    <tui-svg
      src="tuiIconCheckCircle"
      class="icon"
    ></tui-svg>
    Забронировать
  </button>
</div>
