.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  padding: 15px;
  border: 1px solid rgba(46, 98, 217, 0.32);
  height: 95px;
  width: 70px;
  border-radius: 20px;
}

.container_spec{
  padding: 15px 10px;
  border: 1px solid rgba(46, 98, 217, 0.32);
  height: 95px;
  width: 125px;
  border-radius: 20px;
  justify-content: flex-start;
}

.container_img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.time_wrapper{
  border: 1px solid rgba(46, 98, 217, 0.32);
  border-radius: 16px;
  width: 270px;
  height: 96px;
  margin-bottom: 15px;
}

.time{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

