<div
  class="back_side"
  (click)="modalSuccessBookingService.close()"
></div>

<div class="container">
  <p style="color: #2E62D9; font-size: 15px; text-align: center; font-weight: 700;">Вы успешно забронировали<br>устройство</p>
  <div>
    <button
      tuiButton
      type="button"
      class="button"
      appearance="green_outline"
      size="m"
      style="font-size: 15px; width: 125px; margin-right: 15px;"
      (click)="modalSuccessBookingService.close()"
    >
      Ок
    </button>
  </div>
</div>
