<div class="item">
  <img src="https://cdn.fotosklad.ru/upload/iblock/4c7/4c7ffb9c9517a423ddd05daabf243782_thumb_4d76a05b13f4590.jpg"
       class="item_img"
  />
  <p>POCO X3 PRO</p>
  <p>04.11.2022</p>
  <p>10:00 - 22:00</p>
  <div style="display: grid; grid-template-columns: 1fr 1fr; justify-items: center;">
    <button
      tuiButton
      type="button"
      class="button"
      style="height: 32px; font-size: 10px; width: 60px; --tui-padding: 0.5rem"
      appearance="accent"
    >
      !
    </button>
    <button
      tuiButton
      type="button"
      class="button"
      style="height: 32px; font-size: 10px; width: 60px; --tui-padding: 0.5rem"
    >
      x
    </button>
  </div>
  <button
    tuiButton
    type="button"
    class="button"
    style="height: 32px; font-size: 10px; width: 80%; margin-top: 10px"
  >
    Галочка
  </button>
</div>
