<div
  class="back_side"
  (click)="modalBookingHistoryService.close()"
></div>

<div class="wrapper">
  <h3 style="text-align: center; font-size: 15px; margin: 0; line-height: 20px;">История бронирований</h3>
  <h3 style="font-size: 12px;">20.10.2022</h3>
  <p style="font-size: 12px;"><span>POCO X3 PRO</span><span>15:00-17:00</span></p>
  <p style="font-size: 12px;"><span>Pixel 6</span><span>13:00-15:00</span></p>
  <p style="font-size: 12px;"><span>deviceName</span><span>HH:MM-HH:MM</span></p>

  <h3 style="font-size: 12px;">DD.MM.YYYY</h3>
  <p style="font-size: 12px;"><span>deviceName</span><span>HH:MM-HH:MM</span></p>
  <p style="font-size: 12px;"><span>deviceName</span><span>HH:MM-HH:MM</span></p>
  <p style="font-size: 12px;"><span>deviceName</span><span>HH:MM-HH:MM</span></p>
  <p style="font-size: 12px;"><span>deviceName</span><span>HH:MM-HH:MM</span></p>


  <button
    tuiButton
    type="button"
    class="button"
    size="m"
    style="font-size: 15px; width: 270px; justify-content: center; align-self: center;"
    appearance="red_outline"
    (click)="modalBookingHistoryService.close()"
  >
    Назад
  </button>
</div>
