.wrapper{
  max-height: 480px;
  overflow-y: auto;
}

p {
  overflow: hidden;
}
p:after {  content:'..................................................';
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
p span:first-of-type {
  float:left;
}
p span:last-of-type {
  float:right;
}
