<span (tuiActiveZoneChange)="onActiveZone($any($event))" style="width: 100%">
    <button
      style="margin-bottom: 15px; height:45px; width: 100%;"
      tuiButton
      type="button"
      iconRight="tuiIconChevronDown"
      appearance="outline"
      [tuiDropdown]="dropdownContent"
      [tuiDropdownManual]="open"
      (tuiObscured)="onObscured($any($event))"
      (click)="onClick()"
    >
        Сортировать по...
    </button>
    <ng-template #dropdownContent>
        <div class="dropdown">Здесь будут сортировки</div>
    </ng-template>
</span>
