<form style="margin-bottom: 15px;">
  <tui-select
    class="b-form"
    [tuiTextfieldLabelOutside]="true"
    [valueContent]="sorts ? stringify(sorts) : loading"
    [(ngModel)]="value"
    tuiTextfieldSize="s"
  >
    Сортировать по...
    <input
      tuiTextfield
      placeholder="Выберите сортировку"
    />
    <ng-template tuiDataList>
      <tui-data-list>
        <button
          *ngFor="let sort of sorts"
          tuiOption
          [value]="sort.id"
          (click)="onClick.emit(sort.id)"
        >
          {{ sort.name }}
        </button>
      </tui-data-list>
    </ng-template>
    <ng-template #loading>
      <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
    </ng-template>
  </tui-select>
</form>
