<div
  class="back_side"
  (click)="modalConfirmReturnDeviceService.close()"
></div>

<div class="container">
  <p style="color: #2E62D9; font-size: 15px;">Выберите отдел, куда отнесете устройство</p>
  <app-dropdown-department></app-dropdown-department>
  <div style="display: grid; grid-template-columns: 1fr 1fr; justify-items: center; column-gap: 10px;">
    <button
      tuiButton
      type="button"
      class="button"
      appearance="green_outline"
      size="m"
      style="font-size: 15px; width: 130px;"
      (click)="modalConfirmReturnDeviceService.close();
                modalReturnDeviceService.open()"
    >
      Подтвердить
    </button>
    <button
      tuiButton
      type="button"
      class="button"
      appearance="red_outline"
      size="m"
      style="font-size: 15px; width: 130px;"
      (click)="modalConfirmReturnDeviceService.close()"
    >
      Отмена
    </button>
  </div>
</div>
