<div class="wrapper">
  <h3 style="text-align: center; font-size: 15px; margin: 0; line-height: 20px;">История использования</h3>
  <div *ngIf="usageHistory$ | async as items">
    <div *ngFor="let item of items">
      <h3 style="font-size: 12px;">{{item.date}}</h3>
      <p
        style="font-size: 12px;"
        *ngFor="let record of item.records"
      ><span>{{record.userName}}</span><span>{{record.timeFrom}}-{{record.timeTo}}</span></p>
    </div>
  </div>


<!--  <button-->
<!--    tuiButton-->
<!--    type="button"-->
<!--    class="button"-->
<!--    size="m"-->
<!--    style="font-size: 15px; width: 100%; justify-content: center; align-self: center;"-->
<!--    appearance="red_outline"-->
<!--    (click)="closeUsageHistoryDialog()"-->
<!--  >-->
<!--    Назад-->
<!--  </button>-->
</div>
