<div class="wrapper">

  <div
    style="display: grid; grid-template-columns: 2fr 3fr; column-gap: 15px; justify-items: center; margin-bottom: 15px;"
    *ngIf="device$ | async as device"
  >
    <div class="container">
      <img class="container_img"
           [src]="API_URL + device.image">
    </div>
    <div class="container_spec">
      <p style="text-align: center; font-size: 15px; margin: 0; line-height: 20px;">{{device.name}}</p>
      <p style="text-align: center; font-size: 10px; line-height: 13px;">OS: {{device.os}}</p>
      <p style="text-align: center; font-size: 10px; line-height: 13px;">Диагональ: {{device.diagonal}}</p>
      <p style="text-align: center; font-size: 10px; line-height: 13px;">Отдел: {{device.department.name}}</p>
    </div>
  </div>

  <tui-input-tag
    tuiTextfieldSize="m"
    [uniqueTags]="false"
    [(ngModel)]="value"
    [tuiTextfieldLabelOutside]="true"
    [formControl]="control"
    style="width: 270px;"
  >
  </tui-input-tag>


  <button
    tuiButton
    type="button"
    class="button"
    appearance="blue_outline"
    size="m"
    style="font-size: 15px; width: 270px; margin-bottom: 15px; margin-top: 15px;"
    (click)="openCharacteristicDialog()"
  >
    Подробнее
  </button>

  <button
    tuiButton
    type="button"
    class="button"
    appearance="blue_outline"
    size="m"
    style="font-size: 15px; width: 270px; margin-bottom: 15px;"
    (click)="openUsageHistoryDialog()"
  >
    История использований
  </button>


  <button
    tuiButton
    type="button"
    class="button"
    size="m"
    style="font-size: 15px; width: 270px;"
    (click)="openBookingDialog(); closeCardDialog()"
  >
    <tui-svg
      src="tuiIconCheckCircle"
      class="icon"
    ></tui-svg>
    Забронировать
  </button>
</div>
