<img src="../../../assets/logoline.png" style="position: fixed; top: 0;">
<div style="margin-top: 30vh;">
  <div class="wrapper">
    <div style="display: flex; flex-direction: row; margin-bottom: 30px;">
      <img src="../../../assets/logo.svg" alt="Логотип">
      <div style="margin-left: 18px;">
        <p style="font-size: 16px; line-height: 20px; letter-spacing: 2px; margin-bottom: 0">БРОНЬ УСТРОЙСТВ</p>
        <p
          style="font-size: 16px; border-bottom: 2px solid #2E62D9; width: 100px; margin-top: 0; letter-spacing: 2px;">
          ARTSOFTE</p>
      </div>
    </div>
    <form
      class="b-form"
      [formGroup]="authForm"
    >
      <tui-input formControlName="username">
        Type an username
        <input
          tuiTextfield
        />
      </tui-input>

      <tui-input-password
        formControlName="password"
        class="tui-space_top-2"
      >
        Type a password
        <input
          tuiTextfield
          placeholder="Make it secure!"
        />
      </tui-input-password>

      <tui-checkbox-labeled
        formControlName="rememberme"
        size="m"
        style="margin-left: 15px; margin-top: 15px;"
      >
        Запомнить меня
      </tui-checkbox-labeled>

      <button
        tuiButton
        type="button"
        [disabled]="authForm.invalid"
        style="margin-top: 15px; width: 100%"
        appearance="green"
        (click)="login()"
      >
        Войти
      </button>
    </form>
  </div>
</div>
<img src="../../../assets/logoline.png" style="position: fixed; bottom: 0">
