<nav class="nav">
  <a routerLink="/booked" class="link" routerLinkActive="active">
      <tui-svg
        src="tuiIconCheckCircleLarge"
        class="icon"
      ></tui-svg>
  </a>
  <a routerLink="/devices" class="link" routerLinkActive="active">
      <tui-svg
        src="tuiIconSearchLarge"
        class="icon"
      ></tui-svg>
  </a>
  <a routerLink="/profile" class="link" routerLinkActive="active">
      <tui-svg
        src="tuiIconUser"
        class="icon"
      ></tui-svg>
  </a>
</nav>
